@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* espaçamento para não sobrepor o menu */
body {
    background-color: #f0f0f0;
    margin-top: 70px; /* para o conteúdo não ser sobreposto pela barra fixa */
    color: #333;
    font-size: 18px;
}

/* Header */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #6A5ACD;
    padding: 15px 0;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Menu */
nav ul {
    list-style-type: none;
    text-align: center;
}

/* Itens do menu */
nav ul li {
    display: inline-block;
    margin-right: 16px;
}

/* Links */
nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

nav ul li a:hover {
    background-color: #7c6af0;
    transform: scale(1.1);
}

nav ul li a:hover, button:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#inicio {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    gap: 50px; /* espaço entre o texto e a imagem */
    max-width: 1200px;
    margin: auto;
    padding: 40px 20px;
}

#inicio h1, #inicio p {
    flex: 1.2;
}

#inicio h1 {
    font-size: 36px;
    font-weight: 700;
}

#inicio p {
    font-size: 20px; /* DESTAQUE LEMBRAR */
    font-weight: 300;
}

#inicio img {
    flex: 1;
    max-width: 45%;
}

#sobre_mim {
    background-color: #f0f0f0;
    padding: 30px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column; /* coluna = vertical */
    align-items: center;
}

#sobre_mim h2 {
    font-size: 32px;
    font-weight: 700;
    color: #5A31F4;
    text-align: center;
    margin: 0;
    padding-bottom: 20px;
}

#sobre_mim div {
    display: flex; 
    flex-direction: column;
    gap: 10px;
    max-width: 900px;
    align-self: flex-start;
}

#sobre_mim p {
    font-size: 20px;
    line-height: 1.6;
    color: #333;
    margin-bottom: 10px;
}

#sobre_mim p strong {
    color: #6A5ACD; /* destaque */
}

/* Sections */

section{
    padding: 60px 20px;
    text-align: center;
}

h1, h2{
    color: #5A31F4;
}

/* Botoes */

button{
    margin-top: 15px;
    width: 100%;
    background-color: #7c6af0;
    color: #333;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
    background-color: #5A31F4; 
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    transform: scale(1.01);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.imagens {
    width: 100%;
    height: auto;
    max-width: 600px;
    border-radius: 10px;
    margin-top: 20px;
}

/* Projetos */

.projeto h3 {
    font-size: 20px;
    font-weight: 700;
}

.projeto p {
    font-size: 18px;
}

.projeto {
    background-color: #FFFFFF;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    max-width: 1200px;
}

.projeto:hover {
    transform: translateY(-5px); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Animações de Scroll */
.projeto {
    opacity: 0; /* começa invisivel */
    transform: translateY(50px); /* começa abaixo */
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.projeto.visivel {
    opacity: 1; /* aparece quando scrolla */
    transform: translateY(0); /* vai para sua posição original */
}

@media (max-width: 768px) {
    .projeto {
        padding: 15px; 
        margin: 10px auto;
    }

    .projeto h3 {
        font-size: 18px;
    }

    .projeto p {
        font-size: 16px;
    }
}

/* carrosel */

/* Estilo dos botões */
.carrossel-controles button {
    background-color: #7c6af0;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.carrossel-controles button:hover {
    background-color: #5A31F4;
}

.carrossel {
    display: flex;
    align-items: center;
    justify-content: flex-start;;
    margin: 0;
    padding: 0;
    min-height: 50vh;
    overflow: hidden;
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .carrossel {
        width: 100%;
        min-height: 40vh;
    }

    .container {
        display: flex;
    }

    .projeto .carrossel .container img {
        width: 100%;
        object-fit: cover;
    }
}

.carrossel-controles {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.carrossel-controles button {
    background-color: #7c6af0;
    color: #fff;
    border: none;
    width: 80%;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.carrossel-controles button:hover {
    background-color: #6b45f5;
}


.carrossel img {
    width: 100%;
    flex-shrink: 0;
}

.container {
    display: flex;
    transition: 0.5s ease-in-out;
    width: max-content;
}

.projeto .carrossel .container img {
    margin: 0;
    max-width: 100%;
    height: auto; 
    object-fit: cover; 
}

/* Contato */

#contato {
    background-color: #6A5ACD;
    color: #FFFFFF;
    padding: 50px 20px;
}

#contato h2 {
    color: #FFD700;
    font-size: 32px; 
    margin-bottom: 30px; 
    text-align: center; 
}

.redes_sociais {
    margin-bottom: 40px;
    text-align: center;
}

.redes_sociais h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.redes_sociais img {
    width: 40px;
    height: auto;
    display: inline-block;
    margin: 10px;
    transition: transform 0.3s ease;
}

.redes_sociais img:hover {
    transform: scale(1.1);
}

form {
    color: #333;
    text-align: start;
    max-width: 500px;
    margin: 30px auto;
    padding: 30px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

label {
    display: block;
    font-size: 18px;
    margin-top: 20px; 
    color: #333;
}

input, textarea {
    width: 100%;
    padding: 15px; 
    margin-top: 8px; 
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

/* Footer */

footer {
    background-color: #333;
    color: #FFFFFF;
    text-align: center;
    padding: 15px;
}

footer a {
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border-radius: 5px;
}

footer a:hover{
    background-color: #7c6af0;
    transform: scale(1.1);
}

footer a:visited {
    color: inherit;
}

/* responsividade geral */

@media (max-width: 768px){

    header {
        padding: 4px;
    }

    nav ul {
        display: flex;
    }

    nav ul li {
        margin: auto;
    }

    #inicio {
        flex-direction: column;
        text-align: center;
    }

    #inicio img {
        max-width: 70%;
    }
}
